nav {
    background-color: #4641d705;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.nav__title {
    font-size: 1.5rem;
    text-decoration: none;
    outline: none;
}

.nav__title:visited,.nav__title:link,.nav__title:active {
    text-decoration: none;
    color: #fff;
}
.nav__section {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: #fff;
    justify-content: center;
    font-weight: 700;
}

.nav__link{
    color: #fff;
    outline: none;
    text-decoration: none;
}

@media (max-width:390px) {
    nav  {
        font-size: .8rem;
    }
}

@media (max-width:768px) {
    .wave {
        top: -6%;
    }   
}

